*,body { 
  font-family: helvetica, arial, serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Yanone Kaffeesatz', arial, serif;
  font-weight: 400;
  color: #882200;
  font-size: 2em;
  margin-bottom: .5em;
}
h2 {
  font-family: 'Yanone Kaffeesatz', arial, serif;
  font-weight: 300;
  color: #aa2200;
  font-size: 1.5em;
  margin-bottom: .5em;
}
p {
  margin-bottom: 1.25em;
}
header {
  height: 80px;
  background-color: black;
}
#logo {
  float: left;
}
#logo-menu {
  float: right;
}
#logo-menu ul {
  list-style: none;
}
#logo-menu ul li {
  display: inline;
}
#logo-menu ul li a:link, #logo-menu ul li a:visited {
  color: white;
}
nav {
  height: 50px;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
}
footer {
  text-align: center;
  font-weight: 100;
  font-size: 12px;
  color: #777777;
  margin-top: 50px;
}