<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => RefinerySetting.find_or_set(:site_name, "Company Name")) %> | Site Map | <%= link_to 'Employment', '/employment' %>
</p>
